
$font-whitney: Whitney, '-apple-system', BlinkMacSystemFont, sans-serif;

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/WhitneyBookRegular.woff') format('woff');
}

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/WhitneyBoldRegular.woff') format('woff');
}
