
.message-control {
  display: flex;
  margin: 0 0 0 auto;

  div {
    width: 32px;
    height: 32px;
    margin: -8px 0 -8px auto;
    border-radius: 4px;
    background-color: $input;

    &.-merge {
      background: url(ic-merge-type-24px($light)) left 4px top 4px no-repeat;

      &:hover {
        background: url(ic-merge-type-24px($blue)) left 4px top 4px no-repeat;
      }
    }

    &.-remove {
      background: url(ic-delete-24px($light)) left 4px top 4px no-repeat;

      &:hover {
        background: url(ic-delete-24px($pink)) left 4px top 4px no-repeat;
      }
    }
  }
}

.message {
  display: flex;
  padding: 12px 12px 12px 48px;
  border-radius: 8px;
  background: url(ic-access-time-24px($light)) left 12px top 8px no-repeat;

  &:hover {
    background-color: $hover;
  }
}

.placeholder {
  margin: auto;
  padding: 12px 18px 12px 48px;
  font-style: italic;
  background: url(ic-access-time-24px($light)) left 12px top 8px no-repeat;
}

.list {
  flex: 1;
  display: flex;
  flex-flow: column;
  padding: 0 0 16px;
  overflow: auto;
  scroll-behavior: smooth;
}

.content {
    flex: 1;
    display: flex;
    flex-flow: column;
  padding: 16px 16px 24px;
  background: $background;
}

.header {
  display: flex;
  padding: 24px 16px;
  background: $header;

  div {
    width: 44px;
    height: 36px;
    border-radius: 0 8px 8px 0;
    background: $input url(ic-save-24px($light)) left 10px top 6px no-repeat;

    + input {
      margin: 0 0 0 16px;
    }

    &.-on {
      background-color: $blue;
    }
  }

  input {
    flex: 1;
    width: 0; // ???
    padding: 0 0 0 18px;
    border-radius: 8px 0 0 8px;
    outline: none;
    font: 400 16px/20px $font-whitney;
    background: $dark;
  }
}

.x {
  div {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 96px + 12px;
    height: 44px;
    padding: 14px 0 0 48px;
    background: url(ic-access-time-24px($light)) left 12px top 10px no-repeat;
  }

  input {
    width: 100%;
    padding: 12px 18px 12px 96px + 12px;
    border-radius: 8px;
    outline: none;
    font: 400 16px/20px $font-whitney;
    background: $input;
  }
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

@media (min-width: 840px + 1px) {
  .content {
    border-radius: 0 0 8px 8px;
  }

  .header {
    border-radius: 8px 8px 0 0;
  }

  .container {
    width: 640px;
    height: 480px;
    margin: auto;
  }

  .home {
    display: flex;
    height: 100vh;
  }
}
